/* -------------------------------------
 * Manejo de estilos de la pagina de prueba para IDBC
 * ------------------------------------- 
 *
 * Realizado por Ronier Rodríguez 
 * at r.ronier@gmail.com
 */

/*	se uso una herramienta web para reconocer los colores exactos del modelo dado
	#FA5843 y #112524
	
	se definió anchura minima soportada en 500px
 */

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.jumbotron {
    padding:10px 30px 0px 40px;
    margin:0px auto;
    background: #FA5843;
	min-width:500px;
	min-height:260px;
	max-height:330px;
	color:white;
}

.container-info {
	background-color: #112524;
	min-width:500px;
    margin: 0px auto;
	padding: 10px 0px 40px 0px;
}

.container-contact {
	padding: 10px 30px 10px 50px;
	background: #FA5843;
	min-width:500px;
	min-height:200px;
	color:white;
}

.row-info {
    margin:0px auto;
    padding: 10px 20px 10px 10px;
	color:white;
}

.row-skills {
    margin:0px auto;
    padding: 10px 0px 0px 0px;
	color:white;
}

.row-leyenda {
    margin:0px auto;
    padding: 0px 0px 10px 0px;
	color:white;
}

.row-slide {
    margin:0px auto;
    padding: 60px 40px 10px 50px;
	color:white;
	min-width:400px;
	max-width:1200px;
}

.row-contact {
	margin:0px auto;
	max-width:1100px;
}

.row-timeline{
	margin:0px auto;
	padding: 0px 0px 10px 0px;
	color:white;
}

.row-footer{
    background-color: #112524;
	min-width:500px;
    margin:0px auto;
    padding: 20px 0px 20px 20px;
	color:white;
	font-size:90%;
}

.img-responsive.logo{
    margin: 0 auto;
	min-height:220px;
	max-height:280px;
	cursor: pointer;	/*pointer para denotar que es un 'link' a home*/
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*	cambios a estilo de los indicadores del carrusel para que correspondan a la
*	paleta de colores de la pagina
*/
.carousel-indicators li {
	background-color: black;
}

.carousel-indicators .active {
	background-color: #FA5843;
}

/* barra separadora despues de entre info y skills */
hr {
	margin-left: 20px;
	margin-right: 20px;
}

/* barra de search de twitter */
#top-search{
	background-image: url('../img/lupa-icon.png');
	background-repeat: no-repeat;
	padding-left: 30px;
	border-radius: 15px;
}

/* timeline inicialmente oculto */
#mytimeline{
	display: none;
}

.input-contacto {
	padding: 15px 15px 0px 40px;
}

.input-message {
	padding: 15px 50px 0px 0px;
}

.submit-form {
	border-radius: 0 !important;
	color: black;
}

.footer-img{
	margin:0px auto;
    display: inline; /* links a redes sociales en una misma linea */
}

.footer-text{
	padding: 15px 0px 15px 0px;
}

/*	Aquí se define un nuevo color para su uso en la defininicion y manejo de los círculos 
*	en la sección de habilidades.
*	Adicional a estos cambios, dentro del archivo propio del circle-pure-css se cambiaron
*	los colores que definen al círculo para asemejarlo más al tema de la página
*/
.c100.ronier-color .bar,
.c100.ronier-color .fill {
  border-color: #FA5843 !important;
}
.c100.ronier-color:hover > span {
  color: #FA5843;
}
.c100.ronier-color.dark .bar,
.c100.ronier-color.dark .fill {
  border-color: #FA5843 !important;
}
.c100.ronier-color.dark:hover > span {
  color: #FA5843;
}



